/* make sure you add the link tag to link to exercise.css which is in ../base-css directory*/
#first-header{
  color:purple;
  font-family:Roboto;
}
/* add an id to the top level h1 header called first-header*/

/* change the color of the first-header to purple and set font-family to Roboto*/

/* add a class to both h2 headers called second-header */
.second-header{
  background-color:gold;
}
/* change the background color of each h2 to gold */


/* only make the second h2 header have purple text*/
#two-header{
  color:purple;
}
/* make sure both h1 and h2 headers have padding of 10px */
h1,h2{
  padding:10px;
}


/* center the image by referring it through the img tag */
img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  transition: 1s ease-out;

}

/* change the color of the a tag when you hover over it */
a:hover{
  color:blue;
}

/* change the size of the image when you hover over it */



/*add a transition to the image and the image when it is hovered so that the change in size happens for 1s and 'ease-out'
hint: modify img and img:hover to have a `transition` property
*/
